    <nav class="site-navigation text-right text-md-right" role="navigation">

                <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

                <ul class="site-menu js-clone-nav d-none d-lg-block">
                  <li>
                    <a href="index.html">Home</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Transaction</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">History</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    User
                    </a>
                      <ul class="dropdown-menu dropdown-user">
                        <li>
                          <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                          <a href="logout.php"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                      </ul>
                  </li>
              
                </ul>
              </nav>