    <nav class="site-navigation text-right text-md-right" role="navigation">

                <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

                <ul class="site-menu js-clone-nav d-none d-lg-block">
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/transactions">Transaction</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/history">History</a>
                  </li>
                  <li class="divider"></li>
                  <li class="has-children">
                    <a href="#">User</a>
                    <ul class="dropdown">
                      <li><a href="/viewprofile">Profile</a></li>
                      <li><a href="#">Logout</a></li>
                    </ul>
                  </li>
                  <li class="divider"></li>
                </ul>
              </nav>